<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>gare8200002</key>
   <dict>
       <key>Name</key>
       <string>Dudelange-Burange</string>
       <key>Position</key>
       <array>
           <string>6.086145</string>
           <string>49.492568</string>
       </array>
   </dict>
   <key>gare8200003</key>
   <dict>
       <key>Name</key>
       <string>Dudelange-Centre</string>
       <key>Position</key>
       <array>
           <string>6.082255</string>
           <string>49.479234</string>
       </array>
   </dict>
   <key>gare8200100</key>
   <dict>
       <key>Name</key>
       <string>Luxembourg</string>
       <key>Position</key>
       <array>
           <string>6.134206</string>
           <string>49.60007</string>
       </array>
   </dict>
   <key>gare8200110</key>
   <dict>
       <key>Name</key>
       <string>Mersch</string>
       <key>Position</key>
       <array>
           <string>6.11032</string>
           <string>49.752019</string>
       </array>
   </dict>
   <key>gare8200112</key>
   <dict>
       <key>Name</key>
       <string>Heisdorf</string>
       <key>Position</key>
       <array>
           <string>6.1394</string>
           <string>49.67481</string>
       </array>
   </dict>
   <key>gare8200120</key>
   <dict>
       <key>Name</key>
       <string>Ettelbruck</string>
       <key>Position</key>
       <array>
           <string>6.106156</string>
           <string>49.847299</string>
       </array>
   </dict>
   <key>gare8200126</key>
   <dict>
       <key>Name</key>
       <string>Diekirch</string>
       <key>Position</key>
       <array>
           <string>6.153937</string>
           <string>49.865076</string>
       </array>
   </dict>
   <key>gare8200134</key>
   <dict>
       <key>Name</key>
       <string>Clervaux</string>
       <key>Position</key>
       <array>
           <string>6.024769</string>
           <string>50.061749</string>
       </array>
   </dict>
   <key>gare8200136</key>
   <dict>
       <key>Name</key>
       <string>Troisvierges</string>
       <key>Position</key>
       <array>
           <string>5.990879</string>
           <string>50.119251</string>
       </array>
   </dict>
   <key>gare8200142</key>
   <dict>
       <key>Name</key>
       <string>Wiltz</string>
       <key>Position</key>
       <array>
           <string>5.928371</string>
           <string>49.966748</string>
       </array>
   </dict>
   <key>gare8200143</key>
   <dict>
       <key>Name</key>
       <string>Lamadelaine</string>
       <key>Position</key>
       <array>
           <string>5.86079</string>
           <string>49.55339</string>
       </array>
   </dict>
   <key>gare8200340</key>
   <dict>
       <key>Name</key>
       <string>Wasserbillig</string>
       <key>Position</key>
       <array>
           <string>6.499232</string>
           <string>49.712846</string>
       </array>
   </dict>
   <key>gare8200520</key>
   <dict>
       <key>Name</key>
       <string>Kleinbettingen</string>
       <key>Position</key>
       <array>
           <string>5.916139</string>
           <string>49.643963</string>
       </array>
   </dict>
   <key>gare8200603</key>
   <dict>
       <key>Name</key>
       <string>Bettembourg</string>
       <key>Position</key>
       <array>
           <string>6.101424</string>
           <string>49.516457</string>
       </array>
   </dict>
   <key>gare8200613</key>
   <dict>
       <key>Name</key>
       <string>Dudelange-Ville</string>
       <key>Position</key>
       <array>
           <string>6.083089</string>
           <string>49.483679</string>
       </array>
   </dict>
   <key>gare8200630</key>
   <dict>
       <key>Name</key>
       <string>Schifflange</string>
       <key>Position</key>
       <array>
           <string>6.009751</string>
           <string>49.506458</string>
       </array>
   </dict>
   <key>gare8200640</key>
   <dict>
       <key>Name</key>
       <string>Esch-sur-Alzette</string>
       <key>Position</key>
       <array>
           <string>5.985583</string>
           <string>49.493958</string>
       </array>
   </dict>
   <key>gare8200920</key>
   <dict>
       <key>Name</key>
       <string>Differdange</string>
       <key>Position</key>
       <array>
           <string>5.891411</string>
           <string>49.522293</string>
       </array>
   </dict>
   <key>gare8200930</key>
   <dict>
       <key>Name</key>
       <string>Pétange</string>
       <key>Position</key>
       <array>
           <string>5.878912</string>
           <string>49.554239</string>
       </array>
   </dict>
   <key>gare8200940</key>
   <dict>
       <key>Name</key>
       <string>Rodange</string>
       <key>Position</key>
       <array>
           <string>5.843354</string>
           <string>49.551183</string>
       </array>
   </dict>
   <key>gare8265311</key>
   <dict>
       <key>Name</key>
       <string>Volmerange-les-Mines</string>
       <key>Position</key>
       <array>
           <string>6.078643</string>
           <string>49.456734</string>
       </array>
   </dict>
   <key>gare8270050</key>
   <dict>
       <key>Name</key>
       <string>Audun-le-Tiche</string>
       <key>Position</key>
       <array>
           <string>5.89132</string>
           <string>49.3667</string>
       </array>
   </dict>
   <key>gare8270060</key>
   <dict>
       <key>Name</key>
       <string>Bascharage-Sanem</string>
       <key>Position</key>
       <array>
           <string>5.924748</string>
           <string>49.558683</string>
       </array>
   </dict>
   <key>gare8270130</key>
   <dict>
       <key>Name</key>
       <string>Belval-Rôdange</string>
       <key>Position</key>
       <array>
           <string>5.924191</string>
           <string>49.502848</string>
       </array>
   </dict>
   <key>gare8270135</key>
   <dict>
       <key>Name</key>
       <string>Belval-Lycée</string>
       <key>Position</key>
       <array>
           <string>5.944419</string>
           <string>49.500089</string>
       </array>
   </dict>
   <key>gare8270140</key>
   <dict>
       <key>Name</key>
       <string>Belval-Université</string>
       <key>Position</key>
       <array>
           <string>5.94859</string>
           <string>49.499792</string>
       </array>
   </dict>
   <key>gare8270150</key>
   <dict>
       <key>Name</key>
       <string>Belvaux-Soleuvre</string>
       <key>Position</key>
       <array>
           <string>5.925858</string>
           <string>49.51507</string>
       </array>
   </dict>
   <key>gare8270160</key>
   <dict>
       <key>Name</key>
       <string>Berchem</string>
       <key>Position</key>
       <array>
           <string>6.133649</string>
           <string>49.542846</string>
       </array>
   </dict>
   <key>gare8270180</key>
   <dict>
       <key>Name</key>
       <string>Bertrange-Strassen</string>
       <key>Position</key>
       <array>
           <string>6.059202</string>
           <string>49.613405</string>
       </array>
   </dict>
   <key>gare8270210</key>
   <dict>
       <key>Name</key>
       <string>Betzdorf</string>
       <key>Position</key>
       <array>
           <string>6.348666</string>
           <string>49.688958</string>
       </array>
   </dict>
   <key>gare8270270</key>
   <dict>
       <key>Name</key>
       <string>Capellen</string>
       <key>Position</key>
       <array>
           <string>5.982254</string>
           <string>49.638684</string>
       </array>
   </dict>
   <key>gare8270280</key>
   <dict>
       <key>Name</key>
       <string>Cents-Hamm</string>
       <key>Position</key>
       <array>
           <string>6.163375</string>
           <string>49.614514</string>
       </array>
   </dict>
   <key>gare8270300</key>
   <dict>
       <key>Name</key>
       <string>Colmar-Berg</string>
       <key>Position</key>
       <array>
           <string>6.100877</string>
           <string>49.815076</string>
       </array>
   </dict>
   <key>gare8270320</key>
   <dict>
       <key>Name</key>
       <string>Cruchten</string>
       <key>Position</key>
       <array>
           <string>6.119489</string>
           <string>49.796186</string>
       </array>
   </dict>
   <key>gare8270340</key>
   <dict>
       <key>Name</key>
       <string>Dippach-Reckange</string>
       <key>Position</key>
       <array>
           <string>5.99503</string>
           <string>49.572571</string>
       </array>
   </dict>
   <key>gare8270350</key>
   <dict>
       <key>Name</key>
       <string>Dommeldange</string>
       <key>Position</key>
       <array>
           <string>6.136707</string>
           <string>49.63396</string>
       </array>
   </dict>
   <key>gare8270360</key>
   <dict>
       <key>Name</key>
       <string>Drauffelt</string>
       <key>Position</key>
       <array>
           <string>6.007266</string>
           <string>50.017304</string>
       </array>
   </dict>
   <key>gare8270370</key>
   <dict>
       <key>Name</key>
       <string>Dudelange-Usines</string>
       <key>Position</key>
       <array>
           <string>6.079477</string>
           <string>49.472845</string>
       </array>
   </dict>
   <key>gare8270480</key>
   <dict>
       <key>Name</key>
       <string>Goebelsmuehle</string>
       <key>Position</key>
       <array>
           <string>6.053377</string>
           <string>49.92119</string>
       </array>
   </dict>
   <key>gare8270580</key>
   <dict>
       <key>Name</key>
       <string>Hollerich</string>
       <key>Position</key>
       <array>
           <string>6.120872</string>
           <string>49.595903</string>
       </array>
   </dict>
   <key>gare8270630</key>
   <dict>
       <key>Name</key>
       <string>Kautenbach</string>
       <key>Position</key>
       <array>
           <string>6.022265</string>
           <string>49.948691</string>
       </array>
   </dict>
   <key>gare8270640</key>
   <dict>
       <key>Name</key>
       <string>Kayl</string>
       <key>Position</key>
       <array>
           <string>6.035308</string>
           <string>49.485902</string>
       </array>
   </dict>
   <key>gare8270650</key>
   <dict>
       <key>Name</key>
       <string>Leudelange</string>
       <key>Position</key>
       <array>
           <string>6.059479</string>
           <string>49.587293</string>
       </array>
   </dict>
   <key>gare8270660</key>
   <dict>
       <key>Name</key>
       <string>Lintgen</string>
       <key>Position</key>
       <array>
           <string>6.12282</string>
           <string>49.721184</string>
       </array>
   </dict>
   <key>gare8270670</key>
   <dict>
       <key>Name</key>
       <string>Lorentzweiler</string>
       <key>Position</key>
       <array>
           <string>6.140321</string>
           <string>49.698683</string>
       </array>
   </dict>
   <key>gare8270680</key>
   <dict>
       <key>Name</key>
       <string>Mamer</string>
       <key>Position</key>
       <array>
           <string>6.020033</string>
           <string>49.625905</string>
       </array>
   </dict>
   <key>gare8270690</key>
   <dict>
       <key>Name</key>
       <string>Manternach</string>
       <key>Position</key>
       <array>
           <string>6.423394</string>
           <string>49.706736</string>
       </array>
   </dict>
   <key>gare8270710</key>
   <dict>
       <key>Name</key>
       <string>Merkholtz</string>
       <key>Position</key>
       <array>
           <string>5.981707</string>
           <string>49.957025</string>
       </array>
   </dict>
   <key>gare8270720</key>
   <dict>
       <key>Name</key>
       <string>Mertert</string>
       <key>Position</key>
       <array>
           <string>6.47923</string>
           <string>49.703402</string>
       </array>
   </dict>
   <key>gare8270730</key>
   <dict>
       <key>Name</key>
       <string>Michelau</string>
       <key>Position</key>
       <array>
           <string>6.092268</string>
           <string>49.896745</string>
       </array>
   </dict>
   <key>gare8270780</key>
   <dict>
       <key>Name</key>
       <string>Munsbach</string>
       <key>Position</key>
       <array>
           <string>6.26866</string>
           <string>49.630902</string>
       </array>
   </dict>
   <key>gare8270790</key>
   <dict>
       <key>Name</key>
       <string>Niederkorn</string>
       <key>Position</key>
       <array>
           <string>5.893912</string>
           <string>49.537016</string>
       </array>
   </dict>
   <key>gare8270800</key>
   <dict>
       <key>Name</key>
       <string>Noertzange</string>
       <key>Position</key>
       <array>
           <string>6.050565</string>
           <string>49.508124</string>
       </array>
   </dict>
   <key>gare8270820</key>
   <dict>
       <key>Name</key>
       <string>Oberkorn</string>
       <key>Position</key>
       <array>
           <string>5.89344</string>
           <string>49.50925</string>
       </array>
   </dict>
   <key>gare8270830</key>
   <dict>
       <key>Name</key>
       <string>Oetrange</string>
       <key>Position</key>
       <array>
           <string>6.258103</string>
           <string>49.602846</string>
       </array>
   </dict>
   <key>gare8270890</key>
   <dict>
       <key>Name</key>
       <string>Roodt</string>
       <key>Position</key>
       <array>
           <string>6.303107</string>
           <string>49.666736</string>
       </array>
   </dict>
   <key>gare8270910</key>
   <dict>
       <key>Name</key>
       <string>Rumelange</string>
       <key>Position</key>
       <array>
           <string>6.032529</string>
           <string>49.460068</string>
       </array>
   </dict>
   <key>gare8270930</key>
   <dict>
       <key>Name</key>
       <string>Sandweiler-Contern</string>
       <key>Position</key>
       <array>
           <string>6.205877</string>
           <string>49.600902</string>
       </array>
   </dict>
   <key>gare8270950</key>
   <dict>
       <key>Name</key>
       <string>Schieren</string>
       <key>Position</key>
       <array>
           <string>6.09512</string>
           <string>49.82985</string>
       </array>
   </dict>
   <key>gare8270960</key>
   <dict>
       <key>Name</key>
       <string>Schouweiler</string>
       <key>Position</key>
       <array>
           <string>5.95975</string>
           <string>49.573683</string>
       </array>
   </dict>
   <key>gare8271010</key>
   <dict>
       <key>Name</key>
       <string>Tétange</string>
       <key>Position</key>
       <array>
           <string>6.03465</string>
           <string>49.47584</string>
       </array>
   </dict>
   <key>gare8271060</key>
   <dict>
       <key>Name</key>
       <string>Walferdange</string>
       <key>Position</key>
       <array>
           <string>6.136153</string>
           <string>49.660905</string>
       </array>
   </dict>
   <key>gare8271080</key>
   <dict>
       <key>Name</key>
       <string>Wecker</string>
       <key>Position</key>
       <array>
           <string>6.386447</string>
           <string>49.700347</string>
       </array>
   </dict>
   <key>gare8271120</key>
   <dict>
       <key>Name</key>
       <string>Wilwerwiltz</string>
       <key>Position</key>
       <array>
           <string>6.000598</string>
           <string>49.988692</string>
       </array>
   </dict>
   <key>gare8271141</key>
   <dict>
       <key>Name</key>
       <string>Bettembourg-fr.</string>
       <key>Position</key>
       <array>
           <string>6.107812</string>
           <string>49.472289</string>
       </array>
   </dict>
   <key>gare8271142</key>
   <dict>
       <key>Name</key>
       <string>Rodange-Gr.</string>
       <key>Position</key>
       <array>
           <string>5.810296</string>
           <string>49.543406</string>
       </array>
   </dict>
   <key>gare8271143</key>
   <dict>
       <key>Name</key>
       <string>Paradiso</string>
       <key>Position</key>
       <array>
           <string>5.953095</string>
           <string>49.965359</string>
       </array>
   </dict>
   <key>gare8276932</key>
   <dict>
       <key>Name</key>
       <string>Mamer-Lycée</string>
       <key>Position</key>
       <array>
           <string>6.030034</string>
           <string>49.618127</string>
       </array>
   </dict>
</dict>
</plist>
